---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h1>📝 Publications</h1>
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    <ul>
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include publine.html
         authors=post.authors title=post.title venue=post.venue
         volume=post.volume issue=post.issue pages=post.pages
         article_number=post.article_number
         note=post.note year=post.year badge=post.badge
         paperurl=post.paperurl %}
    {% endfor %}
    {% if title_shown %}</ul>{% endif %}
  {% endfor %}
{% else %}
  <ul>
  {% for post in site.publications reversed %}
    {% include publine.html
       authors=post.authors title=post.title venue=post.venue
       volume=post.volume issue=post.issue pages=post.pages
       article_number=post.article_number
       note=post.note year=post.year badge=post.badge
       paperurl=post.paperurl %}
  {% endfor %}
  </ul>
{% endif %}
