{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="site-nav-bar" aria-label="Primary">
        <ul class="site-nav-bar__links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="site-nav-bar__item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button id="theme-toggle" class="site-nav-bar__theme" type="button" aria-label="Toggle theme">
          <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
        </button>
      </nav>
    </div>
  </div>
</div>
